<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chara Battle</title>
  
  
    <link rel="stylesheet" type="text/css" href="../static/css/homeStyle.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cantarell:ital@1&family=Chivo:wght@900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    
    
   
    <script src="../static/js/data.js"></script>
  
    <script src="../static/js/html2canvas.min.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/seedrandom/3.0.5/seedrandom.min.js">
    </script>
  </head>

    <body>
        <main>
            
          <header>
            <div class="overlay"></div>
            <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
              <source src="../static/src/headervid.mp4" type="video/mp4">
            </video>
            <div class="container h-100">
              <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                  <div class="display-3 header-content">
                    <div class="lines" data-aos="fade-right" data-aos-duration="2000"></div>

                    <div id="headerSpacing" class="headerGlitch">
                        <span id="headerFont1">CHARA</span>
                        <span id="headerFont2">battle</span>
                    </div>
                    <p class="lead mb-0" data-aos="fade-up" data-aos-duration="2000">find your own character rankings</p>
                  </div>
                </div>
              </div>
            </div>
          </header>

          <div class="container mt-5 mb-5">
            <div class="text-center align-items-center pt-5">
              <h3>Search your favorite series</h3>
              <p>battle each character to reveal your definitive ranking!</p>
              <div class="form-outline">
                <input type="search" id="form1" class="form-control" placeholder="ex: Attack on Titan"
                aria-label="Search" />
              </div>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-4 mt-5">
              <div class="card profile-card-5">
                <div class="card-img-block">
                  <img class="card-img-top" src="https://media.discordapp.net/attachments/802376727715119164/823705053978296400/CPzko6iWwAA3Fm1.png">
                </div>
                  <div class="card-body pt-0">
                  <h5 class="card-title text-center">{{Title}}</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4 mt-5">
              <div class="card profile-card-5">
                <div class="card-img-block">
                  <img class="card-img-top" src="https://media.discordapp.net/attachments/802376727715119164/823705053978296400/CPzko6iWwAA3Fm1.png">
                </div>
                  <div class="card-body pt-0">
                  <h5 class="card-title text-center">{{Title}}</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4 mt-5">
              <div class="card profile-card-5">
                <div class="card-img-block">
                  <img class="card-img-top" src="https://media.discordapp.net/attachments/802376727715119164/823705053978296400/CPzko6iWwAA3Fm1.png">
                </div>
                  <div class="card-body pt-0">
                  <h5 class="card-title text-center">{{Title}}</h5>
                </div>
              </div>
            </div>
          </div>
          
           
        </main>

      <script>
        AOS.init();
      </script>
      
    </body>
</html>