{% extends 'base.html' %}


{% block head %}
<!---HOMEPAGE STYLES--->
<link rel="stylesheet" type="text/css" href="../static/css/homeStyle.css">
{% end block %}

{% block content %}

<!----------------------VIDEO HEADER----------------------->  

<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="../static/src/headervid.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <div class="display-3 header-content">
          <div class="lines" data-aos="fade-right" data-aos-duration="2000" data-aos-mirror="true" data-aos-once="false"></div>
          <div id="headerSpacing" class="headerGlitch">
              <span id="headerFont1">CHARA</span>
              <span id="headerFont2">battle</span>
          </div>
          <p class="lead mb-0" data-aos="fade-up" data-aos-duration="2000" data-aos-mirror="true" data-aos-once="false">find your own character rankings</p>
        </div>
      </div>
    </div>
  </div>
</header>

<!---------------SEARCH------------------>

<div class="container mt-5 mb-5">
  <div class="text-center align-items-center pt-5">
    <h3>Search your favorite series</h3>
    <p>battle each character to reveal your definitive ranking!</p>
    <div class="form-outline">
      <input type="search" id="form1" class="form-control" placeholder="ex: Attack on Titan"
      aria-label="Search" />
    </div>
  </div>
</div>

<!------------EXAMPLE SORTERS------------>

<hr>
<h3 class="text-center text-success">Popular Sorters</h2>

<div class="row">
  <div class="col-md-4 mt-5 mb-5">
    <div class="card profile-card-5" data-aos="fade-up" data-aos-duration="1500">
      <a href="" class="card-img-block"> <!--add link for ex sorter here-->
        <img class="card-img-top" src="https://media.discordapp.net/attachments/802376727715119164/823705053978296400/CPzko6iWwAA3Fm1.png">
      </a>
        <div class="card-body pt-0">
        <h5 class="card-title text-center">{{Title}}</h5> <!--add ex title here-->
      </div>
    </div>
  </div>
  <div class="col-md-4 mt-5">
    <div class="card profile-card-5" data-aos="fade-down" data-aos-duration="1500">
      <a href="" class="card-img-block"> <!--add link for ex sorter here-->
        <img class="card-img-top" src="https://media.discordapp.net/attachments/802376727715119164/823705053978296400/CPzko6iWwAA3Fm1.png">
      </a>
        <div class="card-body pt-0">
        <h5 class="card-title text-center">{{Title}}</h5> <!--add ex title here-->
      </div>
    </div>
  </div>
  <div class="col-md-4 mt-5">
    <div class="card profile-card-5" data-aos="fade-up" data-aos-duration="1500">
      <a href="" class="card-img-block"> <!--add link for ex sorter here-->
        <img class="card-img-top" src="https://media.discordapp.net/attachments/802376727715119164/823705053978296400/CPzko6iWwAA3Fm1.png">
      </a>
        <div class="card-body pt-0">
        <h5 class="card-title text-center">{{Title}}</h5> <!--add ex title here-->
      </div>
    </div>
  </div>
</div>

{% endblock %}