<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chara Battle</title>
    <!---FAVICON--->
    <link rel="icon" type="image/png" href="../static/src/favicon.png">
    
    <!---FONTS--->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cantarell:ital@1&family=Chivo:wght@900&display=swap" rel="stylesheet">

    <!---BOOTSTRAP--->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css">

    <!---AOS--->
    <link href="https://unpkg.com/aos@next/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  
    <!---HOMEPAGE STYLES--->
    <link rel="stylesheet" type="text/css" href="../static/css/homeStyle.css">

  </head>

    <body>
      <main>
            
        <!----------------------VIDEO HEADER----------------------->  

        <header>
          <div class="overlay"></div>
          <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="../static/src/headervid.mp4" type="video/mp4">
          </video>
          <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center">
              <div class="w-100 text-white">
                <div class="display-3 header-content">
                  <div class="lines" data-aos="fade-right" data-aos-duration="2000" data-aos-mirror="true" data-aos-once="false"></div>
                  <div id="headerSpacing" class="headerGlitch">
                      <span id="headerFont1">CHARA</span>
                      <span id="headerFont2">battle</span>
                  </div>
                  <p class="lead mb-0" data-aos="fade-up" data-aos-duration="2000" data-aos-mirror="true" data-aos-once="false">find your own character rankings</p>
                </div>
              </div>
            </div>
          </div>
        </header>

        <!---------------SEARCH------------------>

        <div class="container mt-5 mb-5">
          <div class="text-center align-items-center pt-5">
            <h3>Search your favorite series</h3>
            <p>battle each character to reveal your definitive ranking!</p>
            <div class="form-outline">
              <input type="search" id="form1" class="form-control" placeholder="ex: Attack on Titan"
              aria-label="Search" />
            </div>
          </div>
        </div>

        <!------------EXAMPLE SORTERS------------>

        <hr>
        <h3 class="text-center text-success">Popular Sorters</h2>

        <div class="row">
          <div class="col-md-4 mt-5 mb-5">
            <div class="card profile-card-5" data-aos="fade-up" data-aos-duration="1500">
              <a href="" class="card-img-block"> <!--add link for ex sorter here-->
                <img class="card-img-top" src="https://i.guim.co.uk/img/media/01e28b2590b85da2d3a1b6a5257b4c9bd2b0afda/34_0_1200_720/master/1200.jpg?width=700&quality=85&auto=format&fit=max&s=0222020011099a87b9ff4598983b2d66">
              </a>
                <div class="card-body pt-0">
                <h5 class="card-title text-center">My Hero Academia</h5> <!--add ex title here-->
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-5">
            <div class="card profile-card-5" data-aos="fade-down" data-aos-duration="1500">
              <a href="sorter.html" class="card-img-block"> <!--add link for ex sorter here-->
                <img class="card-img-top" src="https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fdanafeldman%2Ffiles%2F2019%2F04%2FGot.jpg">
              </a>
                <div class="card-body pt-0">
                <h5 class="card-title text-center">Game of Thrones</h5> <!--add ex title here-->
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-5">
            <div class="card profile-card-5" data-aos="fade-up" data-aos-duration="1500">
              <a href="" class="card-img-block"> <!--add link for ex sorter here-->
                <img class="card-img-top" src="https://cdn.mos.cms.futurecdn.net/hvjJ5WmebPriiKrRu3UnN6.jpg">
              </a>
                <div class="card-body pt-0">
                <h5 class="card-title text-center">Witcher 3</h5> <!--add ex title here-->
              </div>
            </div>
          </div>
        </div>
           
      </main>


       <!------------------FOOTER------------------->
       <footer class="page-footer font-small mt-5 bg-dark">

        <div class="footer-copyright text-center py-3">© 2021 Copyright
          <a href="https://github.com/asood92"> Amman S. </a>,
          <a href="https://github.com/nekacurry"> Anneka C. </a>
        </div>

        <div class="footer-copyright text-center py-3"> Sources Used -
          <a href="https://github.com/charasort/chara-sort"> CLICK HERE</a>
        </div>
      
      </footer>

      <!---AOS INIT--->
      <script>
        AOS.init();
      </script>

    </body>
</html>